<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset = "UTF-8">
	<title>title</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
	<h2>상품 상세정보</h2>
	<table border="1">
		<td>	
			<img width="340" height="300" alt="사진1">
		</td>
		<td>
			<table border="1" style="height: 300px; width:400px;">
			<tr align="center">
				<td>상품명</td>
				<td>
					<p th:text="${menuDto.name}"></p>
				</td>
			</tr>
			<tr align="center">
				<td>가격</td>
				<td>
					<p th:text="${menuDto.price}"></p>
				</td>
			</tr>
			<tr align="center">
				<td>정보</td> 
				<td>
					<p th:text="${menuDto.info}"></p>
				</td>
			</tr > 
			<tr align="center">
				<td colspan="2">
						<input type="number" id="count" min="1">개
						<input type="submit" id="sub" value="장바구니에 담기">
					<br>
					<br>
					<button onclick="location.href='/conmenus'">돌아가기</button>
				</td>
			</tr >
		</td>
	</table>
	
	<script>
	 $("#sub").click(function(event) {
	var count = $("#count").val();
	if(count>0){
	alert(count + "개 담았습니다");
		if(confirm("장바구니로 이동하시겠습니까?") == true){
        window.location.href='/cart'
    	}else{
	        return;
	    }		
	}else 
	alert("갯수를 넣어주세요");
	});

	</script>
</body>
</html>