<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head></head>
	<meta charset="UTF-8">
	<title>Menus</title>
	<body>
	<h2>메뉴판</h2>
	<table border=1>
	<thead>
		<tr>
			<th>번호</th >
			<th>사진</th>
			<th>이름</th>
			<th>가격</th>
			<th>정보</th>	
		</tr>
	</thead>
	<tbody>
		<tr th:each="menu:${conmenuList}">
			<td>
				<a th:href="@{'/posts/' + ${menu.id}}">
					<span th:text="${menu.id}"></span>
				</a>
			</td>
			<td>
				<span th:text="${menu.path}"></span>
			</td>
			<td>
				<span th:text="${menu.name}"></span>
			</td>
			<td>
				<span th:text="${menu.price}"></span>
			</td>
			<td>
				<span th:text="${menu.info}"></span>
			</td>
		</tr>
   	</table>
	</body>
</html>