<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head></head>
	<body>
	<h2>메뉴관리</h2>
	<table border=1>
		<tr><td>이름</td><td>이미지</td><td>상세정보</td><td>가격</td><td>총수량</td></tr>
		<tr>
   			<td align="center">불고기</td>
   			<td><img src="돈까스.jpg"></img></td>
   			<td>소불고기 도시락~</td>
   			<td>5600</td>
   			<td>30</td>
   			<td><button>수정</button></td>
   			<td><button>삭제</button></td>
   		</tr>
   		<tr>
   			<td align="center">돈까스</td>
   			<td><img src="돈까스.jpg"></img></td>
   			<td>바삭바삭 돈까스~</td>
   			<td>4500</td>
   			<td>30</td>
   			<td><button>수정</button></td>
   			<td><button>삭제</button></td>
   		</tr>
   		<tr>
   			<td align="center">고추장 불고기</td>
   			<td><img src="돈까스.jpg"></img></td>
   			<td>매콤 고추장 불고기~</td>
   			<td>5500</td>
   			<td>30</td>
   			<td><button>수정</button></td>
   			<td><button>삭제</button></td>
   		</tr>
   		<tr>
   			<td align="center">제육볶음</td>
   			<td><img src="돈까스.jpg"></img></td>
   			<td>매콤 제육볶음~</td>
   			<td>3400</td>
   			<td>30</td>
   			<td><button>수정</button></td>
   			<td><button>삭제</button></td>
   		</tr>
   		<tr>
   			<td align="center">치킨마요</td>
   			<td><img src="돈까스.jpg"></img></td>
   			<td>치킨은 역시 진리 치킨마요~</td>
   			<td>3300</td>
   			<td>30</td>
   			<td><button>수정</button></td>
   			<td><button>삭제</button></td>
   		</tr>
   		<tr>
   			<td align="center">참치마요</td>
   			<td><img src="돈까스.jpg"></img></td>
   			<td>명불허전 참지마요~</td>
   			<td>3300</td>
   			<td>30</td>
   			<td><button>수정</button></td>
   			<td><button>삭제</button></td>
   		</tr>
   	</table>
   	<br>
   	<button>추가</button>
   	<button onclick="location.href='login'">로그아웃</button>
	</body>
</html>