<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head></head>
	<meta charset="UTF-8">
	<title>Menus</title>
	<body>
	<h2>메뉴판</h2>
	<table border=1>
	<thead>
		<tr>
			<th>번호</th>
			<th>사진</th>
			<th>이름</th>
			<th>가격</th>
			<th>수정</th>
			<th>정보</th>	
		</tr>
	</thead>
	<tbody>
		<tr th:each="m:${menus}">
			<td th:text="${m.menuId}"></td>
			<td th:text="${m.path}"></td>
			<td th:text="${m.name}"></td>
			<td th:text="${m.price}"></td>
			<td><button>수정</button></td>
			<td th:text="${m.info}"></td>
		</tr>
   	</table>
   	<br>
   	
	</body>
</html>